.elementor-153 .elementor-element.elementor-element-0cb34f0>.elementor-container>.elementor-column>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-0cb34f0 {
    overflow: hidden;
    padding: 0 5px
}

.elementor-bc-flex-widget .elementor-153 .elementor-element.elementor-element-bbb9399.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-bbb9399.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-e2ec84a {
    text-align: center;
    color: #fff;
    font-size: 20px
}

.elementor-153 .elementor-element.elementor-element-e2ec84a>.elementor-widget-container {
    margin: 5px 0;
    padding: 0
}

.elementor-153 .elementor-element.elementor-element-d7aef30 {
    overflow: hidden;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 5px 25px 5px 45px
}

.elementor-153 .elementor-element.elementor-element-d7aef30:not(.elementor-motion-effects-element-type-background),
.elementor-153 .elementor-element.elementor-element-d7aef30>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000
}

.elementor-153 .elementor-element.elementor-element-d7aef30>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-153 .elementor-element.elementor-element-3d9eebc.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-3d9eebc.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-3d9eebc.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start
}

.elementor-153 .elementor-element.elementor-element-4026255 .aux-has-logo img {
    width: 65px
}

.elementor-153 .elementor-element.elementor-element-4026255 .site-title {
    max-width: 1px
}

.elementor-153 .elementor-element.elementor-element-4026255>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-153 .elementor-element.elementor-element-4026255 {
    width: auto;
    max-width: auto
}

.elementor-153 .elementor-element.elementor-element-711bf66 {
    text-align: left;
    width: auto;
    max-width: auto
}

.elementor-153 .elementor-element.elementor-element-711bf66 .elementor-heading-title {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700
}

.elementor-153 .elementor-element.elementor-element-711bf66>.elementor-widget-container {
    margin: 0 0 0 5px
}

.elementor-bc-flex-widget .elementor-153 .elementor-element.elementor-element-a7187ac.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-a7187ac.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-bc-flex-widget .elementor-153 .elementor-element.elementor-element-8c67c3f.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-8c67c3f.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-8c67c3f.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-153 .elementor-element.elementor-element-61ccdd9 {
    text-align: right;
    width: var( --container-widget-width, 16.303%);
    max-width: 16.303%;
    --container-widget-width: 16.303%;
    --container-widget-flex-grow: 0
}

.elementor-153 .elementor-element.elementor-element-61ccdd9 .elementor-heading-title {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700
}

.elementor-153 .elementor-element.elementor-element-61ccdd9>.elementor-widget-container {
    background-color: #2d74ff
}

.elementor-153 .elementor-element.elementor-element-84d3d93 {
    display: block;
    text-align: right;
    width: var( --container-widget-width, 111.26%);
    max-width: 111.26%;
    --container-widget-width: 111.26%;
    --container-widget-flex-grow: 0;
    flex-grow: 1
}

.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-vertical .aux-menu-depth-0 .aux-item-content {
    display: block;
    text-align: right
}

.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-menu-depth-0>.aux-item-content {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0
}

.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-menu-depth-0 {
    border-radius: 0 0 0 0;
    margin: 0 50px 0 0
}

.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-menu-depth-0.aux-hover>.aux-item-content {
    color: #ffd943 !important
}

.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-menu-depth-0.aux-hover>.aux-item-content {
    font-weight: 600
}

.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-menu-depth-0.current-menu-item>a {
    color: var( --e-global-color-021e33e)
}

.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-burger:before,
.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-burger:after,
.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-burger .mid-line {
    border-color: var( --e-global-color-021e33e)
}

.elementor-153 .elementor-element.elementor-element-84d3d93 .aux-offcanvas-menu {
    background-color: #000
}

.elementor-153 .elementor-element.elementor-element-84d3d93>.elementor-widget-container {
    padding: 0
}

.elementor-153 .elementor-element.elementor-element-248176f2 {
    overflow: hidden;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-153 .elementor-element.elementor-element-248176f2:not(.elementor-motion-effects-element-type-background),
.elementor-153 .elementor-element.elementor-element-248176f2>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: transparent;
    background-image: radial-gradient(at bottom center, #4AFF90BA 0%, #151515 40%)
}

.elementor-153 .elementor-element.elementor-element-248176f2>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-153 .elementor-element.elementor-element-248176f2>.elementor-shape-bottom .elementor-shape-fill {
    fill: #000
}

.elementor-153 .elementor-element.elementor-element-248176f2>.elementor-shape-bottom svg {
    width: calc(100% + 1.3px);
    height: 330px
}

.elementor-153 .elementor-element.elementor-element-248176f2>.elementor-shape-bottom {
    z-index: 2;
    pointer-events: none
}

.elementor-153 .elementor-element.elementor-element-368e4f07.elementor-column>.elementor-widget-wrap {
    justify-content: center
}

.elementor-153 .elementor-element.elementor-element-368e4f07>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-153 .elementor-element.elementor-element-368e4f07>.elementor-element-populated {
    border-style: solid;
    border-color: #6e1fbd00;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-153 .elementor-element.elementor-element-368e4f07>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-153 .elementor-element.elementor-element-1ffa23cf .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important
}

.elementor-153 .elementor-element.elementor-element-1ffa23cf .aux-modern-heading-primary {
    font-size: 75px;
    text-transform: none;
    letter-spacing: -1.44px;
    color: #fff;
    margin: 0
}

.elementor-153 .elementor-element.elementor-element-1ffa23cf .aux-modern-heading-secondary {
    font-size: 45px;
    line-height: 111px;
    letter-spacing: -2.37px;
    color: #ccaa48;
    text-shadow: 0 0 10px rgba(89.69624481201173, 80.72662033081055, 0, .76);
    margin: -25px 0 0
}

.elementor-153 .elementor-element.elementor-element-1ffa23cf .aux-modern-heading-secondary .aux-head-highlight {
    color: #487adb
}

.elementor-153 .elementor-element.elementor-element-1ffa23cf>.elementor-widget-container {
    margin: 10px 0 0
}

.elementor-153 .elementor-element.elementor-element-3caac86f .aux-widget-image {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-3caac86f .aux-media-image {
    max-width: 55%
}

.elementor-153 .elementor-element.elementor-element-3caac86f>.elementor-widget-container {
    margin: 0 0 0 400px
}

.elementor-153 .elementor-element.elementor-element-3caac86f {
    z-index: 1
}

.elementor-153 .elementor-element.elementor-element-76e7865>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-153 .elementor-element.elementor-element-76e7865 {
    position: absolute;
    top: 380px;
    right: 0;
    left: -10px
}

.elementor-153 .elementor-element.elementor-element-572770e {
    overflow: hidden;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 50px 0
}

.elementor-153 .elementor-element.elementor-element-572770e:not(.elementor-motion-effects-element-type-background),
.elementor-153 .elementor-element.elementor-element-572770e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000
}

.elementor-153 .elementor-element.elementor-element-572770e>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-153 .elementor-element.elementor-element-2a14d9d.elementor-column>.elementor-widget-wrap {
    justify-content: center
}

.elementor-153 .elementor-element.elementor-element-460de87 {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 30px;
    --grid-column-gap: 30px;
    --grid-row-gap: 0px
}

.elementor-153 .elementor-element.elementor-element-460de87 .elementor-widget-container {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-460de87 .elementor-social-icon {
    background-color: #2d2e32
}

.elementor-153 .elementor-element.elementor-element-460de87 .elementor-social-icon i {
    color: #ffaf29
}

.elementor-153 .elementor-element.elementor-element-460de87 .elementor-social-icon svg {
    fill: #ffaf29
}

.elementor-153 .elementor-element.elementor-element-460de87 .elementor-icon {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-460de87 .elementor-social-icon:hover {
    background-color: #fecd1a
}

.elementor-153 .elementor-element.elementor-element-460de87 .elementor-social-icon:hover i {
    color: #1e2f57
}

.elementor-153 .elementor-element.elementor-element-460de87 .elementor-social-icon:hover svg {
    fill: #1e2f57
}

.elementor-153 .elementor-element.elementor-element-9628035 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important
}

.elementor-153 .elementor-element.elementor-element-9628035 .aux-modern-heading-primary {
    font-size: 45px;
    color: #fff;
    margin: 40px 0 25px
}

.elementor-153 .elementor-element.elementor-element-9628035 .aux-modern-heading-description {
    color: #f2f2f2;
    font-size: 20px;
    margin: 35px 0 0
}

.elementor-153 .elementor-element.elementor-element-9628035>.elementor-widget-container {
    margin: 150px 0 0;
    padding: 0 150px
}

.elementor-153 .elementor-element.elementor-element-d7640b2 {
    padding: 0% 5%
}

.elementor-153 .elementor-element.elementor-element-2913e71.elementor-column>.elementor-widget-wrap {
    justify-content: space-around
}

.elementor-153 .elementor-element.elementor-element-33ecb79 .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-33ecb79 .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(130deg, #FFA000 0%, #FECD1A 100%)
}

.elementor-153 .elementor-element.elementor-element-33ecb79 .aux-modern-button {
    padding: 15px 65px
}

.elementor-153 .elementor-element.elementor-element-33ecb79 .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-33ecb79 .aux-overlay:after {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-33ecb79 .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-153 .elementor-element.elementor-element-33ecb79 .aux-modern-button .aux-overlay:after {
    background-color: transparent;
    background-image: linear-gradient(91deg, #FECD1A 0%, #FFA000 100%)
}

.elementor-153 .elementor-element.elementor-element-33ecb79 .aux-text {
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var( --e-global-color-3aebb56)
}

.elementor-153 .elementor-element.elementor-element-33ecb79 {
    width: auto;
    max-width: auto
}

.elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(130deg, #FFA000 0%, #FECD1A 100%)
}

.elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-modern-button {
    padding: 15px 100px
}

.elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-overlay:after {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-modern-button .aux-overlay:after {
    background-color: transparent;
    background-image: linear-gradient(91deg, #FECD1A 0%, #FFA000 100%)
}

.elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-text {
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var( --e-global-color-3aebb56)
}

.elementor-153 .elementor-element.elementor-element-5dbc9a8 {
    width: auto;
    max-width: auto
}

.elementor-153 .elementor-element.elementor-element-16505f1.elementor-column>.elementor-widget-wrap {
    justify-content: space-around
}

.elementor-153 .elementor-element.elementor-element-8e140c2 .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-8e140c2 .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(130deg, #FFA000 0%, #FECD1A 100%)
}

.elementor-153 .elementor-element.elementor-element-8e140c2 .aux-modern-button {
    padding: 15px 50px
}

.elementor-153 .elementor-element.elementor-element-8e140c2 .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-8e140c2 .aux-overlay:after {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-8e140c2 .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-153 .elementor-element.elementor-element-8e140c2 .aux-modern-button .aux-overlay:after {
    background-color: transparent;
    background-image: linear-gradient(91deg, #FECD1A 0%, #FFA000 100%)
}

.elementor-153 .elementor-element.elementor-element-8e140c2 .aux-text {
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #25262a
}

.elementor-153 .elementor-element.elementor-element-8e140c2 {
    width: auto;
    max-width: auto
}

.elementor-153 .elementor-element.elementor-element-5778c72 .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-5778c72 .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(130deg, #FFA000 0%, #FECD1A 100%)
}

.elementor-153 .elementor-element.elementor-element-5778c72 .aux-modern-button {
    padding: 15px 70px
}

.elementor-153 .elementor-element.elementor-element-5778c72 .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-5778c72 .aux-overlay:after {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-5778c72 .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-153 .elementor-element.elementor-element-5778c72 .aux-modern-button .aux-overlay:after {
    background-color: transparent;
    background-image: linear-gradient(91deg, #FECD1A 0%, #FFA000 100%)
}

.elementor-153 .elementor-element.elementor-element-5778c72 .aux-text {
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var( --e-global-color-3aebb56)
}

.elementor-153 .elementor-element.elementor-element-5778c72 {
    width: auto;
    max-width: auto
}

.elementor-153 .elementor-element.elementor-element-2f0cb2c {
    margin-top: 150px;
    margin-bottom: 0
}

.elementor-bc-flex-widget .elementor-153 .elementor-element.elementor-element-3c73d0a.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-3c73d0a.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-153 .elementor-element.elementor-element-d5b8885 {
    text-align: right
}

.elementor-153 .elementor-element.elementor-element-d3f2d3a {
    color: #fff;
    font-size: 20px
}

.elementor-153 .elementor-element.elementor-element-1bf05cd {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-1bf05cd .elementor-heading-title {
    color: #a2a2a2;
    font-size: 25px
}

.elementor-153 .elementor-element.elementor-element-1bf05cd>.elementor-widget-container {
    margin: 200px 0 25px
}

.elementor-153 .elementor-element.elementor-element-3de7af6 .elementor-main-swiper {
    height: 20vh;
    width: 100%
}

.elementor-153 .elementor-element.elementor-element-3de7af6 .elementor-main-swiper .elementor-carousel-image {
    background-size: contain
}

.elementor-153 .elementor-element.elementor-element-3de7af6.elementor-skin-slideshow .elementor-main-swiper {
    margin-bottom: 50px
}

.elementor-153 .elementor-element.elementor-element-3de7af6 .elementor-main-swiper .swiper-slide {
    padding: 5px
}

.elementor-153 .elementor-element.elementor-element-3de7af6 .elementor-swiper-button {
    font-size: 0
}

.elementor-153 .elementor-element.elementor-element-3de7af6>.elementor-widget-container {
    margin: 30px 0 0
}

.elementor-153 .elementor-element.elementor-element-6313f34 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important
}

.elementor-153 .elementor-element.elementor-element-6313f34 .aux-modern-heading-primary {
    font-size: 45px;
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-6313f34 .aux-modern-heading-secondary {
    font-size: 26px;
    font-weight: 600;
    color: #999
}

.elementor-153 .elementor-element.elementor-element-6313f34 .aux-modern-heading-description {
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    margin: 0
}

.elementor-153 .elementor-element.elementor-element-6313f34>.elementor-widget-container {
    margin: 200px 0 0
}

.elementor-153 .elementor-element.elementor-element-916a902>.elementor-element-populated {
    margin: 0 0 0 200px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 200px
}

.elementor-153 .elementor-element.elementor-element-e82e136 {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-e82e136 .elementor-heading-title {
    color: #a2a2a2;
    font-size: 25px
}

.elementor-153 .elementor-element.elementor-element-e82e136>.elementor-widget-container {
    margin: 0 0 25px
}

.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-modern-button-wrapper {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(130deg, #FFA000 0%, #FECD1A 100%)
}

.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-modern-button {
    padding: 15px 32px
}

.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-overlay:after {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-modern-button .aux-overlay:after {
    background-color: transparent;
    background-image: linear-gradient(91deg, #FECD1A 0%, #FFA000 100%)
}

.elementor-153 .elementor-element.elementor-element-edf6d21 .aux-text {
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var( --e-global-color-3aebb56)
}

.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-modern-button-wrapper {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(130deg, #FFA000 0%, #FECD1A 100%)
}

.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-modern-button {
    padding: 15px 30px
}

.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-overlay:after {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-modern-button .aux-overlay:after {
    background-color: transparent;
    background-image: linear-gradient(91deg, #FECD1A 0%, #FFA000 100%)
}

.elementor-153 .elementor-element.elementor-element-c3ade5f .aux-text {
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var( --e-global-color-3aebb56)
}

.elementor-153 .elementor-element.elementor-element-2305569>.elementor-element-populated {
    margin: 0 200px 0 0;
    --e-column-margin-right: 200px;
    --e-column-margin-left: 0px
}

.elementor-153 .elementor-element.elementor-element-42ad87d {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-42ad87d .elementor-heading-title {
    color: #a2a2a2;
    font-size: 25px
}

.elementor-153 .elementor-element.elementor-element-42ad87d>.elementor-widget-container {
    margin: 0 0 25px
}

.elementor-153 .elementor-element.elementor-element-91775df .aux-modern-button-wrapper {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-91775df .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-91775df .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(130deg, #FFA000 0%, #FECD1A 100%)
}

.elementor-153 .elementor-element.elementor-element-91775df .aux-modern-button {
    padding: 15px 24px
}

.elementor-153 .elementor-element.elementor-element-91775df .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-91775df .aux-overlay:after {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-91775df .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-153 .elementor-element.elementor-element-91775df .aux-modern-button .aux-overlay:after {
    background-color: transparent;
    background-image: linear-gradient(91deg, #FECD1A 0%, #FFA000 100%)
}

.elementor-153 .elementor-element.elementor-element-91775df .aux-text {
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var( --e-global-color-3aebb56)
}

.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-modern-button-wrapper {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-modern-button.aux-modern-button-outline .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-modern-button .aux-overlay:before {
    background-color: transparent;
    background-image: linear-gradient(130deg, #FFA000 0%, #FECD1A 100%)
}

.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-modern-button {
    padding: 15px 25px
}

.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-overlay:before,
.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-overlay:after {
    border-radius: 15px 15px 15px 15px
}

.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-modern-button.aux-modern-button-outline .aux-overlay:after,
.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-modern-button .aux-overlay:after {
    background-color: transparent;
    background-image: linear-gradient(91deg, #FECD1A 0%, #FFA000 100%)
}

.elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-text {
    font-family: montserrat, Sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #25262a
}

.elementor-153 .elementor-element.elementor-element-b1f0517 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 15px
}

.elementor-153 .elementor-element.elementor-element-b1f0517>.elementor-widget-container {
    padding: 80px 0 15px
}

.elementor-153 .elementor-element.elementor-element-6a59d1c {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 15px
}

.elementor-153 .elementor-element.elementor-element-6a59d1c>.elementor-widget-container {
    padding: 20px 0 50px
}

.elementor-153 .elementor-element.elementor-element-73a8193 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important
}

.elementor-153 .elementor-element.elementor-element-73a8193 .aux-modern-heading-primary {
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-73a8193 .aux-modern-heading-description {
    color: #fff;
    font-size: 17px
}

.elementor-153 .elementor-element.elementor-element-73a8193>.elementor-widget-container {
    margin: 80px 200px 0;
    padding: 5px 0 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, #1F3662F2 0%, #000000 100%);
    border-radius: 30px 30px 30px 30px
}

.elementor-153 .elementor-element.elementor-element-857809d .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
    padding: 30px
}

.elementor-153 .elementor-element.elementor-element-857809d {
    padding: 0 120px
}

.elementor-153 .elementor-element.elementor-element-e3b1bd0.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-153 .elementor-element.elementor-element-e3b1bd0.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-153 .elementor-element.elementor-element-e3b1bd0.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-153 .elementor-element.elementor-element-e3b1bd0 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-153 .elementor-element.elementor-element-e3b1bd0 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-153 .elementor-element.elementor-element-e3b1bd0 .elementor-image-box-title {
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-e3b1bd0 .elementor-image-box-description {
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-e3b1bd0>.elementor-widget-container {
    padding: 30px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #18577E 0%, #13315A 100%);
    border-radius: 30px 30px 30px 30px
}

.elementor-153 .elementor-element.elementor-element-88e4d11.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-153 .elementor-element.elementor-element-88e4d11.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-153 .elementor-element.elementor-element-88e4d11.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-153 .elementor-element.elementor-element-88e4d11 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-153 .elementor-element.elementor-element-88e4d11 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-153 .elementor-element.elementor-element-88e4d11 .elementor-image-box-title {
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-88e4d11 .elementor-image-box-description {
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-88e4d11>.elementor-widget-container {
    padding: 30px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #18577E 0%, #13315A 100%);
    border-radius: 30px 30px 30px 30px
}

.elementor-153 .elementor-element.elementor-element-0e3efe3.elementor-position-right .elementor-image-box-img {
    margin-left: 15px
}

.elementor-153 .elementor-element.elementor-element-0e3efe3.elementor-position-left .elementor-image-box-img {
    margin-right: 15px
}

.elementor-153 .elementor-element.elementor-element-0e3efe3.elementor-position-top .elementor-image-box-img {
    margin-bottom: 15px
}

.elementor-153 .elementor-element.elementor-element-0e3efe3 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 30%
}

.elementor-153 .elementor-element.elementor-element-0e3efe3 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-153 .elementor-element.elementor-element-0e3efe3 .elementor-image-box-title {
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-0e3efe3 .elementor-image-box-description {
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-0e3efe3>.elementor-widget-container {
    padding: 30px;
    background-color: transparent;
    background-image: linear-gradient(90deg, #18577E 0%, #13315A 100%);
    border-radius: 30px 30px 30px 30px
}

.elementor-153 .elementor-element.elementor-element-1c07a12 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important
}

.elementor-153 .elementor-element.elementor-element-1c07a12 .aux-modern-heading-primary {
    color: #fff
}

.elementor-153 .elementor-element.elementor-element-1c07a12 .aux-modern-heading-description {
    color: #fff;
    font-size: 17px;
    max-width: 800px
}

.elementor-153 .elementor-element.elementor-element-1c07a12>.elementor-widget-container {
    margin: 100px 200px 0;
    padding: 5px 0 0;
    background-color: transparent;
    background-image: linear-gradient(180deg, #1F3662F2 0%, #000000 30%);
    border-radius: 30px 30px 30px 30px
}

.elementor-153 .elementor-element.elementor-element-c4e4ff0 .aux-widget-inner>* {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important
}

.elementor-153 .elementor-element.elementor-element-c4e4ff0 .aux-modern-heading-primary {
    font-size: 45px;
    color: #fff;
    margin: 40px 0 25px
}

.elementor-153 .elementor-element.elementor-element-c4e4ff0 .aux-modern-heading-description {
    color: #f2f2f2;
    font-size: 20px;
    margin: 35px 0 0
}

.elementor-153 .elementor-element.elementor-element-c4e4ff0>.elementor-widget-container {
    margin: 200px 100px 0;
    padding: 5px 50px 50px;
    background-color: transparent;
    background-image: linear-gradient(180deg, #1F3662F2 0%, #15233FF2 70%);
    border-radius: 25px 25px 25px 25px
}

.elementor-153 .elementor-element.elementor-element-2b24b70 {
    text-align: center
}

.elementor-153 .elementor-element.elementor-element-2b24b70 .elementor-heading-title {
    color: #fff;
    font-size: 45px
}

.elementor-153 .elementor-element.elementor-element-2b24b70>.elementor-widget-container {
    margin: 200px 0 0
}

.elementor-153 .elementor-element.elementor-element-713d4bd>.elementor-widget-container {
    margin: 0 0 50px
}

.elementor-153 .elementor-element.elementor-element-b723887 .aux-has-logo img {
    width: 100px
}

.elementor-153 .elementor-element.elementor-element-b723887>.elementor-widget-container {
    margin: 0
}

.elementor-153 .elementor-element.elementor-element-b723887 {
    width: auto;
    max-width: auto
}

.elementor-153 .elementor-element.elementor-element-a2992fd {
    color: #fff;
    width: auto;
    max-width: auto;
    align-self: center
}

.elementor-153 .elementor-element.elementor-element-a2992fd>.elementor-widget-container {
    padding: 15px 30px 0
}

.elementor-153 .elementor-element.elementor-element-9a9d1b1 small {
    color: var( --e-global-color-c2a7491);
    font-size: 16px;
    font-weight: 400;
    line-height: 1em
}

.elementor-153 .elementor-element.elementor-element-9a9d1b1>.elementor-widget-container {
    padding: 0
}

.elementor-153 .elementor-element.elementor-element-9a9d1b1 {
    width: auto;
    max-width: auto;
    align-self: center
}

@media(max-width:1024px) {
    .elementor-153 .elementor-element.elementor-element-3d9eebc.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start
    }
    .elementor-153 .elementor-element.elementor-element-4026255 {
        text-align: left;
        width: var( --container-widget-width, 65.575px);
        max-width: 65.575px;
        --container-widget-width: 65.575px;
        --container-widget-flex-grow: 0;
        flex-grow: 1
    }
    .elementor-153 .elementor-element.elementor-element-711bf66 {
        text-align: left;
        width: auto;
        max-width: auto
    }
    .elementor-153 .elementor-element.elementor-element-8c67c3f.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end
    }
    .elementor-153 .elementor-element.elementor-element-61ccdd9 {
        text-align: center;
        width: var( --container-widget-width, 25%);
        max-width: 25%;
        --container-widget-width: 25%;
        --container-widget-flex-grow: 0
    }
    .elementor-153 .elementor-element.elementor-element-61ccdd9 .elementor-heading-title {
        font-size: 1.5rem
    }
    .elementor-153 .elementor-element.elementor-element-61ccdd9>.elementor-widget-container {
        padding: 3px;
        border-radius: 5px 5px 5px 5px
    }
    .elementor-153 .elementor-element.elementor-element-84d3d93>.elementor-widget-container {
        margin: 0 0 0 10px;
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-84d3d93 {
        width: auto;
        max-width: auto;
        flex-grow: 0
    }
    .elementor-153 .elementor-element.elementor-element-368e4f07>.elementor-element-populated {
        margin: 0%;
        --e-column-margin-right: 0%;
        --e-column-margin-left: 0%
    }
    .elementor-153 .elementor-element.elementor-element-1ffa23cf>.elementor-widget-container {
        margin: 0%
    }
    .elementor-153 .elementor-element.elementor-element-3caac86f>.elementor-widget-container {
        margin: 5% 0% 0% 31%
    }
    .elementor-153 .elementor-element.elementor-element-572770e {
        padding: 0 0 30px
    }
    .elementor-153 .elementor-element.elementor-element-9628035>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-2913e71.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end
    }
    .elementor-153 .elementor-element.elementor-element-2913e71>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0 2.5px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-33ecb79>.elementor-widget-container {
        margin: 0 0 5px
    }
    .elementor-153 .elementor-element.elementor-element-16505f1.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start
    }
    .elementor-153 .elementor-element.elementor-element-16505f1>.elementor-element-populated {
        padding: 0 0 0 2.5px
    }
    .elementor-153 .elementor-element.elementor-element-8e140c2>.elementor-widget-container {
        margin: 0 0 5px
    }
    .elementor-153 .elementor-element.elementor-element-2f0cb2c {
        margin-top: 10%;
        margin-bottom: 0%
    }
    .elementor-153 .elementor-element.elementor-element-d5b8885 img {
        width: 70%
    }
    .elementor-153 .elementor-element.elementor-element-1bf05cd>.elementor-widget-container {
        margin: 15% 0% 0%
    }
    .elementor-153 .elementor-element.elementor-element-3de7af6.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px
    }
    .elementor-153 .elementor-element.elementor-element-6313f34>.elementor-widget-container {
        margin: 10% 0% 0%
    }
    .elementor-153 .elementor-element.elementor-element-916a902>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-153 .elementor-element.elementor-element-2305569>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-153 .elementor-element.elementor-element-73a8193>.elementor-widget-container {
        margin: 0
    }
    .elementor-153 .elementor-element.elementor-element-857809d .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 5px
    }
    .elementor-153 .elementor-element.elementor-element-857809d {
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-e3b1bd0>.elementor-widget-container {
        padding: 15px 15px 30px
    }
    .elementor-153 .elementor-element.elementor-element-88e4d11>.elementor-widget-container {
        padding: 15px 15px 30px
    }
    .elementor-153 .elementor-element.elementor-element-0e3efe3>.elementor-widget-container {
        padding: 15px 15px 30px
    }
    .elementor-153 .elementor-element.elementor-element-1c07a12>.elementor-widget-container {
        margin: 10% 0% 0%;
        padding: 15px
    }
    .elementor-153 .elementor-element.elementor-element-c4e4ff0>.elementor-widget-container {
        margin: 0%
    }
    .elementor-153 .elementor-element.elementor-element-2b24b70>.elementor-widget-container {
        margin: 10% 0% 0%
    }
    .elementor-153 .elementor-element.elementor-element-b723887 {
        width: auto;
        max-width: auto
    }
    .elementor-153 .elementor-element.elementor-element-a2992fd>.elementor-widget-container {
        padding: 5% 0% 0% 15%
    }
    .elementor-153 .elementor-element.elementor-element-9a9d1b1 {
        text-align: center;
        width: auto;
        max-width: auto
    }
    .elementor-153 .elementor-element.elementor-element-9a9d1b1 small {
        font-size: 13px
    }
    .elementor-153 .elementor-element.elementor-element-9a9d1b1>.elementor-widget-container {
        padding: 0
    }
}

@media(max-width:767px) {
    .elementor-153 .elementor-element.elementor-element-0cb34f0 {
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-bbb9399.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }
    .elementor-153 .elementor-element.elementor-element-bbb9399>.elementor-element-populated {
        margin: 5px 0 11px;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-e2ec84a {
        text-align: center;
        font-size: 13px;
        width: auto;
        max-width: auto;
        align-self: center
    }
    .elementor-153 .elementor-element.elementor-element-e2ec84a>.elementor-widget-container {
        margin: 3px 0 -3px;
        padding: 0 30px
    }
    .elementor-153 .elementor-element.elementor-element-d7aef30 {
        padding: 5px 5px 5px 10px
    }
    .elementor-153 .elementor-element.elementor-element-3d9eebc {
        width: 40%
    }
    .elementor-153 .elementor-element.elementor-element-4026255 {
        text-align: left;
        width: var( --container-widget-width, 55px);
        max-width: 55px;
        --container-widget-width: 55px;
        --container-widget-flex-grow: 0;
        flex-grow: 1
    }
    .elementor-153 .elementor-element.elementor-element-4026255>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-711bf66 {
        text-align: left
    }
    .elementor-153 .elementor-element.elementor-element-711bf66 .elementor-heading-title {
        font-size: 1.7rem
    }
    .elementor-153 .elementor-element.elementor-element-a7187ac {
        width: 5%
    }
    .elementor-153 .elementor-element.elementor-element-8c67c3f {
        width: 52%
    }
    .elementor-153 .elementor-element.elementor-element-8c67c3f.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end
    }
    .elementor-153 .elementor-element.elementor-element-61ccdd9 {
        text-align: center;
        --container-widget-width: 30%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 30%);
        max-width: 30%
    }
    .elementor-153 .elementor-element.elementor-element-61ccdd9 .elementor-heading-title {
        font-size: 1rem
    }
    .elementor-153 .elementor-element.elementor-element-61ccdd9>.elementor-widget-container {
        padding: 5px;
        border-radius: 5px 5px 5px 5px
    }
    .elementor-153 .elementor-element.elementor-element-84d3d93 {
        display: block;
        text-align: right;
        width: auto;
        max-width: auto
    }
    .elementor-153 .elementor-element.elementor-element-84d3d93 .aux-vertical .aux-menu-depth-0 .aux-item-content {
        display: block;
        text-align: right
    }
    .elementor-153 .elementor-element.elementor-element-84d3d93 .aux-menu-depth-0>.aux-item-content {
        padding: 10px 10px 30px
    }
    .elementor-153 .elementor-element.elementor-element-84d3d93>.elementor-widget-container {
        margin: 0 0 0 15px;
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-248176f2>.elementor-shape-bottom svg {
        width: calc(300% + 1.3px)
    }
    .elementor-153 .elementor-element.elementor-element-1ffa23cf .aux-modern-heading-primary {
        font-size: 45px
    }
    .elementor-153 .elementor-element.elementor-element-1ffa23cf .aux-modern-heading-secondary {
        font-size: 28px;
        line-height: 30px;
        margin: 7px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-1ffa23cf>.elementor-widget-container {
        margin: 60px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-3caac86f .aux-widget-image {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-3caac86f .aux-media-image {
        max-width: 290px
    }
    .elementor-153 .elementor-element.elementor-element-3caac86f>.elementor-widget-container {
        margin: 40px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-3caac86f {
        min-width: 650px
    }
    .elementor-153 .elementor-element.elementor-element-76e7865 {
        top: 300px;
        left: calc( 50% + -320px);
        min-width: 650px
    }
    .elementor-153 .elementor-element.elementor-element-572770e {
        padding: 0 0 50px
    }
    .elementor-153 .elementor-element.elementor-element-2a14d9d.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }
    .elementor-153 .elementor-element.elementor-element-460de87 {
        --grid-template-columns: repeat(0, auto);
        --icon-size: 25px;
        --grid-column-gap: 15px
    }
    .elementor-153 .elementor-element.elementor-element-460de87 .elementor-widget-container {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-460de87 .elementor-icon {
        border-radius: 15px 15px 15px 15px
    }
    .elementor-153 .elementor-element.elementor-element-9628035 .aux-widget-inner>* {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important
    }
    .elementor-153 .elementor-element.elementor-element-9628035 .aux-modern-heading-primary {
        font-size: 35px
    }
    .elementor-153 .elementor-element.elementor-element-9628035 .aux-modern-heading-description {
        font-size: 16px
    }
    .elementor-153 .elementor-element.elementor-element-9628035>.elementor-widget-container {
        margin: 0;
        padding: 0 15px
    }
    .elementor-153 .elementor-element.elementor-element-2913e71.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }
    .elementor-153 .elementor-element.elementor-element-2913e71>.elementor-element-populated {
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-33ecb79 .aux-modern-button-wrapper {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-33ecb79 .aux-modern-button {
        padding: 10px 45px
    }
    .elementor-153 .elementor-element.elementor-element-33ecb79 .aux-overlay:before,
    .elementor-153 .elementor-element.elementor-element-33ecb79 .aux-overlay:after {
        border-radius: 30px 30px 30px 30px
    }
    .elementor-153 .elementor-element.elementor-element-33ecb79 .aux-text {
        font-size: 17px
    }
    .elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-modern-button-wrapper {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-modern-button {
        padding: 10px 78px
    }
    .elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-overlay:before,
    .elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-overlay:after {
        border-radius: 30px 30px 30px 30px
    }
    .elementor-153 .elementor-element.elementor-element-5dbc9a8 .aux-text {
        font-size: 17px
    }
    .elementor-153 .elementor-element.elementor-element-16505f1.elementor-column>.elementor-widget-wrap {
        justify-content: center
    }
    .elementor-153 .elementor-element.elementor-element-16505f1>.elementor-element-populated {
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-8e140c2 .aux-modern-button-wrapper {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-8e140c2 .aux-modern-button {
        padding: 10px 31px
    }
    .elementor-153 .elementor-element.elementor-element-8e140c2 .aux-overlay:before,
    .elementor-153 .elementor-element.elementor-element-8e140c2 .aux-overlay:after {
        border-radius: 30px 30px 30px 30px
    }
    .elementor-153 .elementor-element.elementor-element-8e140c2 .aux-text {
        font-size: 17px
    }
    .elementor-153 .elementor-element.elementor-element-5778c72 .aux-modern-button-wrapper {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-5778c72 .aux-modern-button {
        padding: 10px 50px
    }
    .elementor-153 .elementor-element.elementor-element-5778c72 .aux-overlay:before,
    .elementor-153 .elementor-element.elementor-element-5778c72 .aux-overlay:after {
        border-radius: 30px 30px 30px 30px
    }
    .elementor-153 .elementor-element.elementor-element-5778c72 .aux-text {
        font-size: 17px
    }
    .elementor-153 .elementor-element.elementor-element-2f0cb2c {
        margin-top: 100px;
        margin-bottom: 0
    }
    .elementor-153 .elementor-element.elementor-element-d5b8885 {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-d5b8885 img {
        width: 50%
    }
    .elementor-153 .elementor-element.elementor-element-d3f2d3a {
        font-size: 17px
    }
    .elementor-153 .elementor-element.elementor-element-1bf05cd .elementor-heading-title {
        font-size: 18px
    }
    .elementor-153 .elementor-element.elementor-element-1bf05cd>.elementor-widget-container {
        margin: 100px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-3de7af6 .elementor-main-swiper {
        height: 55px
    }
    .elementor-153 .elementor-element.elementor-element-3de7af6.elementor-skin-slideshow .elementor-main-swiper {
        margin-bottom: 10px
    }
    .elementor-153 .elementor-element.elementor-element-3de7af6>.elementor-widget-container {
        margin: 10px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-6313f34 .aux-modern-heading-primary {
        font-size: 35px
    }
    .elementor-153 .elementor-element.elementor-element-6313f34 .aux-modern-heading-description {
        font-size: 17px
    }
    .elementor-153 .elementor-element.elementor-element-6313f34>.elementor-widget-container {
        margin: 50px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-916a902>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-153 .elementor-element.elementor-element-e82e136 .elementor-heading-title {
        font-size: 18px
    }
    .elementor-153 .elementor-element.elementor-element-e82e136>.elementor-widget-container {
        margin: 30px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-edf6d21 .aux-modern-button-wrapper {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-edf6d21 .aux-modern-button {
        padding: 10px 30px
    }
    .elementor-153 .elementor-element.elementor-element-edf6d21 .aux-overlay:before,
    .elementor-153 .elementor-element.elementor-element-edf6d21 .aux-overlay:after {
        border-radius: 30px 30px 30px 30px
    }
    .elementor-153 .elementor-element.elementor-element-c3ade5f .aux-modern-button-wrapper {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-c3ade5f .aux-modern-button {
        padding: 10px 28px
    }
    .elementor-153 .elementor-element.elementor-element-c3ade5f .aux-overlay:before,
    .elementor-153 .elementor-element.elementor-element-c3ade5f .aux-overlay:after {
        border-radius: 30px 30px 30px 30px
    }
    .elementor-153 .elementor-element.elementor-element-2305569>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }
    .elementor-153 .elementor-element.elementor-element-42ad87d .elementor-heading-title {
        font-size: 18px
    }
    .elementor-153 .elementor-element.elementor-element-42ad87d>.elementor-widget-container {
        margin: 30px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-91775df .aux-modern-button-wrapper {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-91775df .aux-modern-button {
        padding: 10px 25px
    }
    .elementor-153 .elementor-element.elementor-element-91775df .aux-overlay:before,
    .elementor-153 .elementor-element.elementor-element-91775df .aux-overlay:after {
        border-radius: 30px 30px 30px 30px
    }
    .elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-modern-button-wrapper {
        text-align: center
    }
    .elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-modern-button {
        padding: 10px 26px
    }
    .elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-overlay:before,
    .elementor-153 .elementor-element.elementor-element-f2b2e02 .aux-overlay:after {
        border-radius: 30px 30px 30px 30px
    }
    .elementor-153 .elementor-element.elementor-element-b1f0517 {
        font-size: 14px;
        line-height: 20px
    }
    .elementor-153 .elementor-element.elementor-element-b1f0517>.elementor-widget-container {
        padding: 80px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-6a59d1c {
        font-size: 14px;
        line-height: 20px
    }
    .elementor-153 .elementor-element.elementor-element-6a59d1c>.elementor-widget-container {
        padding: 10px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-73a8193 .aux-modern-heading-primary {
        font-size: 25px
    }
    .elementor-153 .elementor-element.elementor-element-73a8193 .aux-modern-heading-description {
        font-size: 16px;
        max-width: 90%
    }
    .elementor-153 .elementor-element.elementor-element-73a8193>.elementor-widget-container {
        margin: 70px 0 0;
        padding: 5px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-857809d .elementor-column-gap-custom .elementor-column>.elementor-element-populated {
        padding: 10px
    }
    .elementor-153 .elementor-element.elementor-element-857809d {
        padding: 0
    }
    .elementor-153 .elementor-element.elementor-element-e3b1bd0 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-153 .elementor-element.elementor-element-e3b1bd0 .elementor-image-box-title {
        font-size: 20px
    }
    .elementor-153 .elementor-element.elementor-element-e3b1bd0 .elementor-image-box-description {
        font-size: 16px
    }
    .elementor-153 .elementor-element.elementor-element-e3b1bd0>.elementor-widget-container {
        padding: 30px 20px
    }
    .elementor-153 .elementor-element.elementor-element-88e4d11 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-153 .elementor-element.elementor-element-88e4d11 .elementor-image-box-title {
        font-size: 20px
    }
    .elementor-153 .elementor-element.elementor-element-88e4d11 .elementor-image-box-description {
        font-size: 16px
    }
    .elementor-153 .elementor-element.elementor-element-88e4d11>.elementor-widget-container {
        padding: 30px 20px
    }
    .elementor-153 .elementor-element.elementor-element-0e3efe3 .elementor-image-box-img {
        margin-bottom: 15px
    }
    .elementor-153 .elementor-element.elementor-element-0e3efe3>.elementor-widget-container {
        padding: 30px 20px
    }
    .elementor-153 .elementor-element.elementor-element-1c07a12 .aux-modern-heading-primary {
        font-size: 25px;
        margin: 10px 10px 40px
    }
    .elementor-153 .elementor-element.elementor-element-1c07a12 .aux-modern-heading-description {
        font-size: 16px
    }
    .elementor-153 .elementor-element.elementor-element-1c07a12>.elementor-widget-container {
        margin: 60px 0 0;
        padding: 10px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-c4e4ff0 .aux-widget-inner>* {
        text-align: center;
        margin-left: auto !important;
        margin-right: auto !important
    }
    .elementor-153 .elementor-element.elementor-element-c4e4ff0 .aux-modern-heading-primary {
        font-size: 35px;
        padding: 20px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-c4e4ff0 .aux-modern-heading-description {
        font-size: 14px
    }
    .elementor-153 .elementor-element.elementor-element-c4e4ff0>.elementor-widget-container {
        margin: 100px 0 0;
        padding: 0 15px 25px;
        border-radius: 25px 25px 25px 25px
    }
    .elementor-153 .elementor-element.elementor-element-2b24b70 .elementor-heading-title {
        font-size: 35px
    }
    .elementor-153 .elementor-element.elementor-element-2b24b70>.elementor-widget-container {
        margin: 100px 0 0
    }
    .elementor-153 .elementor-element.elementor-element-b723887 {
        text-align: center;
        width: 100%;
        max-width: 100%
    }
    .elementor-153 .elementor-element.elementor-element-b723887>.elementor-widget-container {
        margin: 100px 0 0;
        padding: 0 0 20px
    }
    .elementor-153 .elementor-element.elementor-element-a2992fd {
        text-align: center;
        width: 100%;
        max-width: 100%
    }
    .elementor-153 .elementor-element.elementor-element-a2992fd>.elementor-widget-container {
        padding: 0 0 5px
    }
    .elementor-153 .elementor-element.elementor-element-9a9d1b1 {
        text-align: center;
        width: 100%;
        max-width: 100%
    }
    .elementor-153 .elementor-element.elementor-element-9a9d1b1>.elementor-widget-container {
        padding: 5px 0 20px
    }
}

@media(min-width:768px) {
    .elementor-153 .elementor-element.elementor-element-3d9eebc {
        width: 20%
    }
    .elementor-153 .elementor-element.elementor-element-a7187ac {
        width: 9.333%
    }
    .elementor-153 .elementor-element.elementor-element-8c67c3f {
        width: 70%
    }
}

.elementor-153 .elementor-element.elementor-element-0cb34f0 {
    background-color: #4158d0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%)
}

@media only screen and (min-width:768px) and (max-width:850px) {
    .elementor-153 .elementor-element.elementor-element-1ffa23cf .elementor-widget-container {
        margin-top: 180px
    }
}

.cycle {
    animation: myAnim 90s linear 0s infinite
}

.cycle {
    transform-origin: center;
    display: inline-block
}

@keyframes myAnim {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

.elementor-153 .elementor-element.elementor-element-368e4f07 &gt;
.elementor-column-wrap &gt;
.elementor-widget-wrap {
    height: 100%
}

.elementor-153 .elementor-element.elementor-element-d3f2d3a p {
    text-align: left;
    margin-bottom: 20px;
    padding: 25px 35px;
    border-radius: 50px;
    background: linear-gradient(260deg, rgba(0, 0, 0, 1) 15%, rgba(31, 54, 98, 0.9529061624649859) 62%)
}

.elementor-153 .elementor-element.elementor-element-b1f0517 code {
    word-wrap: break-word
}

.elementor-153 .elementor-element.elementor-element-6a59d1c code {
    word-wrap: break-word
}

.elementor-153 .elementor-element.elementor-element-857809d .elementor-image-box-description {
    text-align: left
}

.elementor-153 .elementor-element.elementor-element-857809d .elementor-widget-container {
    height: 400px
}

.elementor-153 .elementor-element.elementor-element-1c07a12 .aux-modern-heading-description p {
    padding: 30px 40px;
    text-align: left;
    border-radius: 15px;
    background: linear-gradient(165deg, rgba(25, 89, 128, 1) 6%, rgba(16, 37, 79, 1) 99%)
}