.elementor-149 .elementor-element.elementor-element-e63466d {
    overflow: hidden;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 5px 25px 5px 45px
}

.elementor-149 .elementor-element.elementor-element-e63466d:not(.elementor-motion-effects-element-type-background),
.elementor-149 .elementor-element.elementor-element-e63466d>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #000
}

.elementor-149 .elementor-element.elementor-element-e63466d>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-149 .elementor-element.elementor-element-78b3879.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-149 .elementor-element.elementor-element-78b3879.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-149 .elementor-element.elementor-element-78b3879.elementor-column>.elementor-widget-wrap {
    justify-content: flex-start
}

.elementor-149 .elementor-element.elementor-element-5116bd9 .aux-has-logo img {
    width: 65px
}

.elementor-149 .elementor-element.elementor-element-5116bd9 .site-title {
    max-width: 1px
}

.elementor-149 .elementor-element.elementor-element-5116bd9>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-149 .elementor-element.elementor-element-5116bd9 {
    width: auto;
    max-width: auto
}

.elementor-149 .elementor-element.elementor-element-a394251 {
    text-align: left;
    width: auto;
    max-width: auto
}

.elementor-149 .elementor-element.elementor-element-a394251 .elementor-heading-title {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700
}

.elementor-149 .elementor-element.elementor-element-a394251>.elementor-widget-container {
    margin: 0 0 0 5px
}

.elementor-bc-flex-widget .elementor-149 .elementor-element.elementor-element-234b85a.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-149 .elementor-element.elementor-element-234b85a.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-bc-flex-widget .elementor-149 .elementor-element.elementor-element-674c8bc.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-149 .elementor-element.elementor-element-674c8bc.elementor-column.elementor-element[data-element_type=column]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-149 .elementor-element.elementor-element-674c8bc.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-149 .elementor-element.elementor-element-b2f4efe {
    text-align: right;
    width: var( --container-widget-width, 16.303%);
    max-width: 16.303%;
    --container-widget-width: 16.303%;
    --container-widget-flex-grow: 0
}

.elementor-149 .elementor-element.elementor-element-b2f4efe .elementor-heading-title {
    color: #fff;
    font-size: 1.7rem;
    font-weight: 700
}

.elementor-149 .elementor-element.elementor-element-b2f4efe>.elementor-widget-container {
    background-color: #2d74ff
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 {
    display: block;
    text-align: right;
    width: var( --container-widget-width, 111.26%);
    max-width: 111.26%;
    --container-widget-width: 111.26%;
    --container-widget-flex-grow: 0;
    flex-grow: 1
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-vertical .aux-menu-depth-0 .aux-item-content {
    display: block;
    text-align: right
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-menu-depth-0>.aux-item-content {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-menu-depth-0 {
    border-radius: 0 0 0 0;
    margin: 0 50px 0 0
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-menu-depth-0.aux-hover>.aux-item-content {
    color: #ffd943 !important
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-menu-depth-0.aux-hover>.aux-item-content {
    font-weight: 600
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-menu-depth-0.current-menu-item>a {
    color: var( --e-global-color-021e33e)
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-burger:before,
.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-burger:after,
.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-burger .mid-line {
    border-color: var( --e-global-color-021e33e)
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-offcanvas-menu {
    background-color: #000
}

.elementor-149 .elementor-element.elementor-element-4f4a8f3>.elementor-widget-container {
    padding: 0
}

@media(max-width:1024px) {
    .elementor-149 .elementor-element.elementor-element-78b3879.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start
    }
    .elementor-149 .elementor-element.elementor-element-5116bd9 {
        text-align: left;
        width: var( --container-widget-width, 65.575px);
        max-width: 65.575px;
        --container-widget-width: 65.575px;
        --container-widget-flex-grow: 0;
        flex-grow: 1
    }
    .elementor-149 .elementor-element.elementor-element-a394251 {
        text-align: left;
        width: auto;
        max-width: auto
    }
    .elementor-149 .elementor-element.elementor-element-674c8bc.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end
    }
    .elementor-149 .elementor-element.elementor-element-b2f4efe>.elementor-widget-container {
        padding: 3px;
        border-radius: 5px 5px 5px 5px
    }
    .elementor-149 .elementor-element.elementor-element-b2f4efe {
        width: var( --container-widget-width, 25%);
        max-width: 25%;
        --container-widget-width: 25%;
        --container-widget-flex-grow: 0
    }
    .elementor-149 .elementor-element.elementor-element-4f4a8f3>.elementor-widget-container {
        margin: 0 0 0 10px;
        padding: 0
    }
    .elementor-149 .elementor-element.elementor-element-4f4a8f3 {
        width: auto;
        max-width: auto;
        flex-grow: 0
    }
}

@media(max-width:767px) {
    .elementor-149 .elementor-element.elementor-element-e63466d {
        padding: 5px 5px 5px 10px
    }
    .elementor-149 .elementor-element.elementor-element-78b3879 {
        width: 40%
    }
    .elementor-149 .elementor-element.elementor-element-5116bd9 {
        text-align: left;
        width: var( --container-widget-width, 55px);
        max-width: 55px;
        --container-widget-width: 55px;
        --container-widget-flex-grow: 0;
        flex-grow: 1
    }
    .elementor-149 .elementor-element.elementor-element-5116bd9>.elementor-widget-container {
        margin: 0;
        padding: 0
    }
    .elementor-149 .elementor-element.elementor-element-a394251 {
        text-align: left
    }
    .elementor-149 .elementor-element.elementor-element-a394251 .elementor-heading-title {
        font-size: 1.7rem
    }
    .elementor-149 .elementor-element.elementor-element-234b85a {
        width: 5%
    }
    .elementor-149 .elementor-element.elementor-element-674c8bc {
        width: 52%
    }
    .elementor-149 .elementor-element.elementor-element-674c8bc.elementor-column>.elementor-widget-wrap {
        justify-content: flex-end
    }
    .elementor-149 .elementor-element.elementor-element-b2f4efe {
        text-align: center;
        --container-widget-width: 30%;
        --container-widget-flex-grow: 0;
        width: var( --container-widget-width, 30%);
        max-width: 30%
    }
    .elementor-149 .elementor-element.elementor-element-b2f4efe .elementor-heading-title {
        font-size: 1.2rem
    }
    .elementor-149 .elementor-element.elementor-element-b2f4efe>.elementor-widget-container {
        padding: 5px;
        border-radius: 5px 5px 5px 5px
    }
    .elementor-149 .elementor-element.elementor-element-4f4a8f3 {
        display: block;
        text-align: right;
        width: auto;
        max-width: auto
    }
    .elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-vertical .aux-menu-depth-0 .aux-item-content {
        display: block;
        text-align: right
    }
    .elementor-149 .elementor-element.elementor-element-4f4a8f3 .aux-menu-depth-0>.aux-item-content {
        padding: 10px 10px 30px
    }
    .elementor-149 .elementor-element.elementor-element-4f4a8f3>.elementor-widget-container {
        margin: 0 0 0 15px;
        padding: 0
    }
}

@media(min-width:768px) {
    .elementor-149 .elementor-element.elementor-element-78b3879 {
        width: 20%
    }
    .elementor-149 .elementor-element.elementor-element-234b85a {
        width: 9.333%
    }
    .elementor-149 .elementor-element.elementor-element-674c8bc {
        width: 70%
    }
}